<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="isEdit=${pizza.id != null}">
<head
        th:insert="fragments/resources :: headResources(${isEdit ? 'Edit Pizza' : 'Create Pizza'})"></head>
<body>
<nav th:replace="fragments/navbar :: topNavbar('pizzas')"></nav>
<div class="container">
    <h1 th:text="${isEdit ? 'Edit Pizza' : 'Create Pizza'}"></h1>
    <hr>
    <form
            th:with="actionUrl=${isEdit ? '/pizzas/edit/'+pizza.id : '/pizzas/create'}"
            id="pizza-create"
            method="post"
            th:action="@{${actionUrl}}"
            th:object="${pizza}"
            class="row gy-2"
    >
        <div class="col-8">
            <div class="col-4" th:insert="fragments/components :: formField('text', 'Name', 'name')"></div>
            <div class="col-4" th:insert="fragments/components :: formField('number', 'Price', 'price')"></div>
            <div class="col-4" th:insert="fragments/components :: formField('text', 'Url Image', 'image')"></div>
            <div class="col-8">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" th:field="*{description}" rows="6"
                          th:errorClass="is-invalid"></textarea>
                <div th:if="${#fields.hasErrors('description')}" class="invalid-feedback">
                    <ul>
                        <li th:each="err : ${#fields.errors('description')}" th:text="${err}"></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="col-4">
            <h4>Ingredients</h4>
            <div th:each="ingredient : ${ingredientList}">
                <input type="checkbox" th:id="${'ingredient-' + ingredient.id}" th:name="ingredients"
                       th:value="${ingredient.id}"
                       th:checked="${pizza.ingredients != null and #lists.contains(pizza.ingredients, ingredient.id)}">
                <label th:for="${'ingredient-' + ingredient.id}" th:text="${ingredient.name}"></label>
            </div>
        </div>

        <div class="col-12">
            <button class="btn btn-primary" type="submit">Save</button>
            <a th:href="@{/pizzas}" class="btn btn-primary">Cancel</a>
        </div>
    </form>
</div>
</body>
</html>
