<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:with="isEdit=${offer.id != null}">
<head th:insert="fragments/resources :: headResources(${isEdit ? 'Edit Offer' : 'Create Offer'})"></head>
<body>
<nav th:replace="~{fragments/navbar :: topNavbar('pizzas')}"></nav>
<div class="container">
    <h1 th:text="${isEdit ? 'Edit Offer' : 'Create Offer'}"></h1>
    <h2 class="text-muted" th:text="${offer.pizza.name}"></h2>
    <hr>
    <form
            th:with="actionUrl=${isEdit ? '/offers/edit/'+offer.id : '/offers/create'}"
            th:action="@{${actionUrl}}"
            method="post"
            id="offer-form"
            th:object="${offer}"
            class="row"
    >
        <input type="hidden" th:field="*{pizza}">
        <div class="col-12" th:insert="~{fragments/components :: formField('text', 'Offer title', 'title')}"></div>
        <div class="col-6" th:insert="~{fragments/components :: formField('date', 'Start date', 'startDate')}"></div>
        <div class="col-6" th:insert="~{fragments/components :: formField('date', 'End date', 'endDate')}"></div>
        <div class="col-12 mt-4">
            <button class="btn btn-primary" type="submit">Salva</button>
            <a th:href="@{/pizzas}" class="btn btn-primary">Torna indietro</a>
        </div>
    </form>
</div>
</body>
</html>